// Buttons
// ==========================================================================

.btn, 
button, 
input[type="submit"] {
	padding: 0 20px;
	color: $light-color;
	text-align: center;
	line-height: 30px;
	font-weight: 300;
	line-height: 30px;
	text-decoration: none;
	background-color: $primary-color;
	border: 0px;
	transition: .3s ease-out;
	cursor: pointer;
	@extend .shadow;
	&:hover {
		background-color: $primary-color-dark;
	}
}

.bg-ruleta_opciones a {
	position: absolute;
	display: block;
    width: 17%;
    padding-bottom: 17%;
	border-radius: 50%;
	@extend .transition;
	//background-color: rgba(0,0,0,0.3);
	&#ruleta_link_1 { top: 18%; right: 30%; }
	&#ruleta_link_2 { top: 26%; right: 14%; }
	&#ruleta_link_3 { top: 44%; right: 8%; }
	&#ruleta_link_4 { bottom: 26%; right: 14%; }
	&#ruleta_link_5 { bottom: 18%; right: 32%; }

	&#ruleta_link_6 { bottom: 18%; left: 32%; }
	&#ruleta_link_7 { bottom: 26%; left: 14%; }
	&#ruleta_link_8 { top: 44%; left: 8%; }
	&#ruleta_link_9 { top: 26%; left: 14%; }
	&#ruleta_link_10 { top: 18%; left: 30%; }
	&:hover {
		background-image: radial-gradient(circle, rgba(255,255,255,0.15), rgba(255,255,255,0.1), rgba(255,255,255,0.05), rgba(255,255,255,0) 80%);
	}
}

#ruleta_pinatas,
#ruleta_pedidos {
	position: absolute;
	top: 14%;
	display: block;
    width: 35%;
    padding-bottom: 7%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
	@extend .transition;
	//background-color: rgba(0,0,0,0.3);
	&:hover { background-image: radial-gradient(circle, rgba(255,255,255,0.15), rgba(255,255,255,0.1), rgba(255,255,255,0.05), rgba(255,255,255,0) 80%); }
}
#ruleta_pinatas {
	left: 1%;
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
}
#ruleta_pedidos {
	right: 1%;
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	transform: rotate(45deg); 
}