// Effects
// ==========================================================================

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
//@include transform(rotate(-5deg));
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
//@include transition(.3s ease-out);


.shadow 		{ box-shadow: 6px 6px 20px 0 rgba(84, 84, 84, 0.25); }
@mixin shadow 	{ box-shadow: 6px 6px 20px 0 rgba(84, 84, 84, 0.25); } /* For @media */
.shadow-small {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}
/* use */
/* @extend .shadow; */
/* %shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
} */

.text-shadow        { text-shadow: 2px 2px #33333345; }
.text-shadow-light  { text-shadow: 2px 2px #afafaf45, -1px -1px #aeaeae45; }

.transition { 
	-webkit-transition: .3s ease-out; 
	-moz-transition: .3s ease-out; 
	transition: .3s ease-out; 
}

@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

.animation-tada-10Less    { animation: tadaDiezLess 1.5s linear 1s infinite; }
.animation-tada-5Less     { animation: tadaCincoLess 1.5s linear 1s infinite; }
.animation-tada15         { animation: tadaQuince 1.5s linear 1s infinite; }
.animation-tada5          { animation: tadaCinco 1.5s linear 1s infinite; }

@keyframes tadaDiezLess {
  0%   {transform: rotate(-10deg); }
  25%  {transform: rotate(-5deg);}
  50%  {transform: rotate(0deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(-10deg);}
}
@keyframes tadaCincoLess {
  0%   {transform: rotate(-5deg); }
  25%  {transform: rotate(-10deg);}
  50%  {transform: rotate(-15deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(-5deg);}
}

@keyframes tadaQuince {
  0%   {transform: rotate(15deg); }
  25%  {transform: rotate(10deg);}
  50%  {transform: rotate(5deg);}
  75% {transform: rotate(10deg);}
  100% {transform: rotate(15deg);}
}

@keyframes tadaCinco {
  0%   {transform: rotate(5deg); }
  25%  {transform: rotate(10deg);}
  50%  {transform: rotate(15deg);}
  75% {transform: rotate(10deg);}
  100% {transform: rotate(5deg);}
}


@keyframes paisajeDesk {
  0%   { bottom: -120%; }
  100% { bottom: -80%; }
}
@keyframes paisajeDeskLar {
  0%   { bottom: -120%; }
  100% { bottom: -70%; }
}
@keyframes paisajeDeskMed {
  0%   { bottom: -120%; }
  100% { bottom: -40%; }
}
@keyframes paisajeDeskSmall {
  0%   { bottom: -120%; }
  100% { bottom: -10%; }
}

@keyframes distribuidor {
  0%   { bottom: -200px; }
  100% { bottom: 0px; }
}