footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 50px;
	.bg-distribuidor {
		width: 100%;
		height: 260px;
		background-image: url(../images/distribuidor.png);
		@extend .bg-image;
		@media #{$sm-and-down} {
			background-size: contain;
			background-image: url(../images/distribuidor-sm.png);
		}
	}
}