// Image
// ==========================================================================

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; bottom: 0; 
	left: 0; right: 0;
}

/* RULETA */
.img-ruleta_base {
	display: block;
	max-width: 98%;
	@extend .margin-auto;
}
.bg-ruleta_centro, .bg-ruleta_indicador, .bg-ruleta_opciones {
	@extend .bg-image;
	@extend .bg-contain;
}
.bg-ruleta_indicador { @extend .margin-auto; }
.bg-ruleta_centro {
	width: 18%;
	height: 28%;
	background-image: url(../images/ruleta-centro.png);
	@extend .content-center; 
	z-index: 1;
}
.bg-ruleta_indicador {
	position: relative;
	margin-bottom: -10%;
	padding-bottom: 12%;
	width: 17%;
	max-width: 100px;
	background-image: url(../images/ruleta-indicador.png);
	z-index: 1;
}
.bg-ruleta_opciones {
	position: absolute;
    top: -1%;
    left: 9%;
    width: 83%;
    padding-bottom: 100%;
	background-image: url(../images/ruleta-opciones.png);
	-webkit-animation: rotation 3s ease-in-out;
	-ms-animation: rotation 3s ease-in-out;
	-o-animation: rotation 3s ease-in-out;
	animation: rotation 3s ease-in-out;
}

/* Body */
.bg-body {
	background-image: url(../images/body.png);
	background-position: top center;
	padding-top: 200px; /* Espacio bg disparejo */
	@extend .bg-image;
	@media #{$sm-and-down} { padding-top: 150px; }
}

/* Slider product */
.sliderProduct {
	position: relative;
	max-width: 800px;
	margin: auto;
	section {
		article {
			width: 100%;
			min-height: 600px;
			text-align: center;
			border: 1px solid gray;
			.itemPinata {
				display: inline-block;
				width: 280px;
				max-width: 100%;
				img {
					display: block;
					@extend .responsive-img;
				}
				h2 {
					max-width: 200px;
					color: $light-color;
					line-height: 30px;
					text-align: right;
					text-shadow: 2px 2px #7c7c7c45;
					em {
						font-size: 32px;
						text-transform: uppercase;
						font-weight: 700;
						font-style: italic;					
					}
					span {
						display: block;
						margin-top: -5px;
						font-size: 18px;
					}
				}
				/* Alineación por número de piñatas */
				&:first-child:nth-last-child(1) {
				    @extend .content-center;
				    h2 { float: right; }
				}
				&:first-child:nth-last-child(2),
				&:first-child:nth-last-child(2) ~ .itemPinata {
				    //width: 50%;
				}
				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(3) ~ .itemPinata {
				    //width: 33.3333%;
				}
				&:first-child:nth-last-child(4),
				&:first-child:nth-last-child(4) ~ .itemPinata {
				    //width: 25%;
				}
			}
		}		
	}
	#prevProducts,
	#nextProducts {
		position: absolute;
		top: calc(50% - 35px);
		color: $light-color;
		z-index: 101;
		text-transform: uppercase;
		span {
			display: block;
			font-size: 10px;
			text-shadow: 2px 2px #a7a7a745;
		}
	}
	#prevProducts { left: 0px; }
	#nextProducts {
		right: 0px;
		img { @include transform(rotate(180deg)); }
	}
}