// Modal
// ==========================================================================
.open-modal:not(.btn) { 
	@include transition(.3s ease-out);
	cursor: pointer; 
	&:hover { color: $primary-color; }
}
.modal {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: $dark-color;
	z-index: 1200;
	transition: .5s ease-out;
	.exit-modal, .fondo-modal {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(52, 52, 52, 0.35);
	}
	.modal-content {
		position: relative;
		width: 80vw;
		max-width: 600px;
		max-height: 80vh;
		margin: 10vh auto 0;
		padding: 20px;
		border-radius: 10px;
		background-color: $light-color;
		overflow: auto;	
		.modal-redirect em, .close-modal {
			position: absolute;
			right: 15px;
			top: 10px;
			color: $dark-color;
			font-size: 20px;
			line-height: 40px;
			z-index: 2;
			cursor: pointer;
			@include transition(.3s ease-out);
			&:hover { color: $primary-color; }
		}
	}
	&.modal-pedidos p { font-size: 14px; }
}