// ==========================================================================
// Table
// ==========================================================================

table {
	width: 100%;
	thead th, tfoot td{
		padding: 5px 3px;
		font-size: 12px;
		text-align: center;
		background-color: rgb(153, 46, 138);
	}
	tbody {
		td {
			padding: 3px;
			p { font-size: 16px; }	
		}
	}
	thead th, tfoot td, tbody td {
		&.tdInvisible {
			color: transparent;
			background-color: transparent;
		}		
	}
	
	.tab-disabled 			{ opacity: 0.1; }
	.tab-disabled-strong 	{ opacity: 0.3; }
}