// ==========================================================================
// Utilities
// ==========================================================================

#content-caracteristicas,
#content-ubicacion {
	@extend .text-shadow-light;
}

#content-proveedores .row .col:nth-child(3n+1){ clear: both; }

.page-content p {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.5px;
}