// ==========================================================================
// Utilities
// ==========================================================================

#content-caracteristicas,
#content-ubicacion {
	@extend .text-shadow-light;
}

#content-proveedores .row .col:nth-child(3n+1){ clear: both; }

.page-content p {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.5px;
}

// Stock
// ==========================================================================
.table-head_desktop,
.table-foot_desktop {
	padding-right: 10px; /* Espacio acorde a scrollbar */
	@media #{$medium-and-down}{ display: none; }
}
#content_table {
	overflow: auto;
	max-height: 75vh;
	@media #{$medium-and-down}{ max-height: 85vh; }
	&::-webkit-scrollbar-track {
		width: 7px;
		height: 7px;
	    background-color: rgba(255,255,255,0.5);
	} 
	.table-sistema {
		min-width: 850px;
		tbody {
			tr {
				color: $dark-color;
				&:nth-child(2n) { background-color: rgba(255, 255, 255, 0.5) }
				&:nth-child(2n+1) { background-color: rgba(255, 255, 255, 0.6) }
			}
		}
		tfoot {
			@media #{$large-and-up} { display: none; }
		}
		&.table-stock {
			@media #{$large-and-up} { margin-top: -62px } /* Ocultar thead en desktop */
			.img-pinata {
				max-height: 40px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}
			tr td .btn-primary { 
				line-height: 30px;
				border-radius: 50%;
			}				
		}
		&.table-clientes {
			@media #{$large-and-up} { margin-top: -62px } /* Ocultar thead en desktop */			
		}
		&.table-materiales {
			@media #{$large-and-up} { margin-top: -31px } /* Ocultar thead en desktop */			
		}
		&.table-contabilidad {
			min-width: 400px;
			tfoot { display: table-footer-group; }
		}
	}	
}

/* Single pedido */
.single-content {
	overflow: auto;
	.card-pedido,
	.card-cliente,
	.card-material {
		padding: 20px 30px;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		p { font-size: 16px; }
		&.card-pedido,
		&.card-material { width: 600px; }
		&.card-cliente { width: 800px; }
	}
	&.single-pedido-cerrado {
		color: gray;
		#btns-modificar-pedido { display: none; }
		.color-primary { color: $primary-color-gray; }
	}
}